/* 
h1 {
    background:rgb(233, 248, 248);
    color:cornflowerblue;
    text-align: center;
}


.sidebar{
    display:inline-block;
    width:40vh;
}


.form-label{

    font-size: 18px;
    font-weight:bold;

}


#searchCityList {
    width:54%;
    font-size:12px;
}

.searchcitybtn{
background-color: blue;
color:white;
font-size: 10px;
width:54%;
}



text {
    color:black;
    font-size:10px;
    font-style: italic;
}
.sidebar{
display:flex; 
flex-direction: column;
justify-content: left;

}
#sameDayLgDisplay {
    display:block; 
    flex-direction: column;
}


 */





@media screen {
    
}